@use "config/variaveis.scss";

section {
    display: flex;
    height: 93vh;

    .section__nav {
        width: 20%;

        
        background-color: variaveis.$corPrimaria;
        
        ul {

            li {
                margin: 20px 0;
                list-style: none;

                margin: 25px;
                
                a {
                    display: flex;

                    text-decoration: none;
                    gap: 12px;

                    color: variaveis.$textColor;

                    p {
                        font-size: 19px;
                    }

                    i {
                        font-size: 24px;
                    }
                }
            }
        }
    }

    .section__sounds {
        width: 80%;
    
        display: flex;
        flex-direction: column;
    
        background-color: variaveis.$corPrimaria;
    
        .filter {
            width: 100%;
            height: 70px;
    
            display: flex;
            align-items: center;
            justify-content: center;
    
            margin: 20px 0;
            padding-bottom: 7px;
            gap: 9px;
            overflow: auto;
            white-space: nowrap;
    
            label {
                font-size: 20px;
                padding: 3px 12px;
                border-radius: 7px;
    
                background-color: variaveis.$corSecundaria;
            }
        }
    
        .container__sounds {
            width: 100%;
            height: 100vh;

            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 9px;


            overflow: auto;
            .sounds {
                width: 400px;
    
                display: flex;
                gap: 15px;
                padding: 0 3px;
    
                .sounds__img {
                    width: 30%;
                    height: 150px;       
        
                    border-radius: 12px;
        
                    background-color: variaveis.$corSecundaria;
                }
    
                .sounds__info {
                    width: 70%;

                    display: flex;
                    flex-direction: column;
                    gap: 15px;

                    color: variaveis.$textColor;
    
                    .info__img-name {
                        display: flex;
    
                        gap: 9px;
    
                        .info__singerImg {
                            width: 40px;
                            height: 40px;
        
                            border-radius: 40px;
        
                            background-color: variaveis.$corSecundaria;
                        }
                    }                
                }
            }
        }
    }
}